{
  "env": {
    "browser": true
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "no-cond-assign": "warn",
    "no-constant-condition": "warn",
    "no-dupe-else-if": "warn",
    "no-redeclare": "warn",
    "no-undef": "off",
    "no-unused-vars": "warn"
  }
}
