<h5 class="nav-group-title">Sketches</h5>
<hr class="nav-group-divisor" />
<div class="nav-group-item angry-birds">
  <a href="../angry-birds/index.html" title="Angry Birds">
    <i class="bi bi-file-earmark-code"></i><span> Angry Birds</span>
  </a>
</div>
<div class="nav-group-item angry-pacman">
  <a href="../angry-pacman/index.html" title="Angry Pacman">
    <i class="bi bi-file-earmark-code"></i><span> Angry Pacman</span>
  </a>
</div>
<div class="nav-group-item asteroids">
  <a href="../asteroids/index.html" title="Asteroids">
    <i class="bi bi-file-earmark-code"></i><span> Asteroids</span>
  </a>
</div>
<div class="nav-group-item breakout">
  <a href="../breakout/index.html" title="Breakout"> <i class="bi bi-file-earmark-code"></i><span> Breakout</span></a>
</div>
<div class="nav-group-item bullet-hell">
  <a href="../bullet-hell/index.html" title="Bullet Hell">
    <i class="bi bi-file-earmark-code"></i><span> Bullet Hell</span></a
  >
</div>
<div class="nav-group-item chess">
  <a href="../chess/index.html" title="Chess (2 player)">
    <i class="bi bi-file-earmark-code"></i><span> Chess</span>
  </a>
</div>
<div class="nav-group-item doom-iv">
  <a href="../doom-iv/index.html" title="Doom IV - Doomsday death gun (shooter game)">
    <i class="bi bi-file-earmark-code"></i><span> Doom IV</span>
  </a>
</div>
<div class="nav-group-item duel">
  <a href="../duel/index.html" title="Duel (shooter game)">
    <i class="bi bi-file-earmark-code"></i><span> Duel</span>
  </a>
</div>
<div class="nav-group-item emoji-minesweeper">
  <a href="../emoji-minesweeper/index.html" title="Emoji Minesweeper">
    <i class="bi bi-file-earmark-code"></i><span> Emoji Minesweeper</span>
  </a>
</div>
<div class="nav-group-item far-east">
  <a href="../far-east/index.html" title="Far East (shooter game)">
    <i class="bi bi-file-earmark-code"></i><span> Far East</span>
  </a>
</div>
<div class="nav-group-item flappy-bird">
  <a href="../flappy-bird/index.html" title="FlappyBird">
    <i class="bi bi-file-earmark-code"></i><span> FlappyBird</span>
  </a>
</div>
<div class="nav-group-item pacman">
  <a href="../pacman/index.html" title="Pacman"> <i class="bi bi-file-earmark-code"></i><span> Pacman</span></a>
</div>
<div class="nav-group-item pong">
  <a href="../pong/index.html" title="Pong"> <i class="bi bi-file-earmark-code"></i><span> Pong</span></a>
</div>
<div class="nav-group-item pong-3d">
  <a href="../pong-3d/index.html" title="Pong 3D"> <i class="bi bi-file-earmark-code"></i><span> Pong 3D</span></a>
</div>
<div class="nav-group-item rainbow-drops">
  <a href="../rainbow-drops/index.html" title="Rainbow drops">
    <i class="bi bi-file-earmark-code"></i><span> Rainbow drops</span>
  </a>
</div>
<div class="nav-group-item rat-road">
  <a href="../rat-road/index.html" title="Rat road"> <i class="bi bi-file-earmark-code"></i><span> Rat road</span></a>
</div>
<div class="nav-group-item snake">
  <a href="../snake/index.html" title="Snake"> <i class="bi bi-file-earmark-code"></i><span> Snake</span></a>
</div>
<div class="nav-group-item snake-pro">
  <a href="../snake-pro/index.html" title="Snake pro">
    <i class="bi bi-file-earmark-code"></i><span> Snake pro</span></a
  >
</div>
<div class="nav-group-item space-invaders">
  <a href="../space-invaders/index.html" title="Space Invaders">
    <i class="bi bi-file-earmark-code"></i><span> Space Invaders</span>
  </a>
</div>
<div class="nav-group-item sudo-sweep">
  <a href="../sudo-sweep/index.html" title="Sudo Sweep">
    <i class="bi bi-file-earmark-code"></i><span> Sudo Sweep</span>
  </a>
</div>
<div class="nav-group-item suika">
  <a href="../suika/index.html" title="Suika"> <i class="bi bi-file-earmark-code"></i><span> Suika</span></a>
</div>
<div class="nav-group-item supratetris">
  <a href="../supratetris/index.html" title="Supratetris">
    <i class="bi bi-file-earmark-code"></i><span> Supratetris</span>
  </a>
</div>
<div class="nav-group-item tetris">
  <a href="../tetris/index.html" title="Tetris"> <i class="bi bi-file-earmark-code"></i><span> Tetris</span> </a>
</div>
