<h5 class="nav-group-title">Sketches</h5>
<hr class="nav-group-divisor" />
<div class="nav-group-item asteroids">
  <a href="../asteroids/index.html" title="Asteroids">
    <i class="bi bi-file-earmark-code"></i><span> Asteroids</span>
  </a>
</div>
<div class="nav-group-item chess">
  <a href="../chess/index.html" title="Chess (2 player)">
    <i class="bi bi-file-earmark-code"></i><span> Chess</span>
  </a>
</div>
<div class="nav-group-item doom-iv">
  <a href="../doom-iv/index.html" title="Doom IV - Doomsday death gun (shooter game)">
    <i class="bi bi-file-earmark-code"></i><span> Doom IV</span>
  </a>
</div>
<div class="nav-group-item duel">
  <a href="../duel/index.html" title="Duel (shooter game)">
    <i class="bi bi-file-earmark-code"></i><span> Duel</span>
  </a>
</div>
<div class="nav-group-item far-east">
  <a href="../far-east/index.html" title="Far East (shooter game)">
    <i class="bi bi-file-earmark-code"></i><span> Far East</span>
  </a>
</div>
<div class="nav-group-item flappy-bird">
  <a href="../flappy-bird/index.html" title="FlappyBird">
    <i class="bi bi-file-earmark-code"></i><span> FlappyBird</span>
  </a>
</div>
<div class="nav-group-item pacman">
  <a href="../pacman/index.html" title="Pacman"> <i class="bi bi-file-earmark-code"></i><span> Pacman</span> </a>
</div>
<div class="nav-group-item pong">
  <a href="../pong/index.html" title="Pong"> <i class="bi bi-file-earmark-code"></i><span> Pong</span> </a>
</div>
<div class="nav-group-item rainbow-drops">
  <a href="../rainbow-drops/index.html" title="Rainbow drops">
    <i class="bi bi-file-earmark-code"></i><span> Rainbow drops</span>
  </a>
</div>
<div class="nav-group-item sudo-sweep">
  <a href="../sudo-sweep/index.html" title="Sudo Sweep">
    <i class="bi bi-file-earmark-code"></i><span> Sudo Sweep</span>
  </a>
</div>
<div class="nav-group-item suika">
  <a href="../suika/index.html" title="Suika"> <i class="bi bi-file-earmark-code"></i><span> Suika</span> </a>
</div>
<div class="nav-group-item supratetris">
  <a href="../supratetris/index.html" title="Supratetris">
    <i class="bi bi-file-earmark-code"></i><span> Supratetris</span>
  </a>
</div>
