::selection {
  background: none;
}

@font-face {
  src: url("../angrybirds-regular.fea49f4c.ttf") format("truetype");
  font-family: angry-birds;
}

.main {
  background: #add8e6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main #play-home {
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  transition: all .8s;
  position: absolute;
}

.main #play-home:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.main #play-home img {
  width: 45%;
  height: auto;
}

.main #score1, .main #score2, .main #score3, .main #score4 {
  cursor: default;
  color: #fff;
  font-family: angry-birds, Inter, Helvetica Neue, Helvetica, Segoe UI, sans-serif;
  font-size: 32px;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.main #stage {
  transition: all .8s;
  position: absolute;
}

.main #stage button {
  cursor: pointer;
  color: #fff;
  background-color: #f4ba4c;
  border: 4px solid #fff;
  border-radius: 16px;
  padding: 20px 44px;
  font-family: angry-birds, Inter, Helvetica Neue, Helvetica, Segoe UI, sans-serif;
  font-size: 80px;
  transition: all .8s;
}

.main .stage-wrapper {
  background-color: #0009;
  border-radius: 16px;
  margin: 20px;
  transition: all .8s;
}

.main .stage-wrapper:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.main #stage1-star, .main #stage2-star, .main #stage3-star, .main #stage4-star {
  color: #fff;
  text-align: center;
  padding: 6px;
  font-family: angry-birds, Inter, Helvetica Neue, Helvetica, Segoe UI, sans-serif;
  font-size: 24px;
}

.main #stage1 {
  top: 35vh;
  left: 20vw;
}

.main #stage2 {
  top: 35vh;
  left: 39vw;
}

.main #stage3 {
  top: 35vh;
  left: 51vw;
}

.main #stage4 {
  top: 35vh;
  left: 63vw;
}

.main #pause-btn, .main #play-btn {
  background: none;
  border: none;
  transition: all .8s;
  position: absolute;
  top: 4vh;
  left: 2vw;
}

.main #restart-btn {
  background: none;
  border: none;
  transition: all .8s;
  position: absolute;
  top: 4vh;
  left: 6vw;
}

.main #home-btn {
  background: none;
  border: none;
  transition: all .8s;
  position: absolute;
  top: 4vh;
  left: 10vw;
}

.main #stage-btn {
  background: none;
  border: none;
  transition: all .8s;
  position: absolute;
  top: 4vh;
  left: 14vw;
}

.main #pause-btn:hover, .main #play-btn:hover, .main #restart-btn:hover, .main #home-btn:hover, .main #stage-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main #pause-img {
  background: none;
  border: none;
  padding: 125px 300px;
  position: absolute;
  top: 4px;
  left: 0;
}

.main #rb-wrapper {
  position: absolute;
  top: 20vh;
  left: 2vw;
}

.main #rb-stage1, .main #rb-stage2, .main #rb-stage3, .main #rb-stage4 {
  flex-direction: column;
  justify-content: flex-start;
  width: 60px;
  height: auto;
  display: flex;
  position: absolute;
  left: 4px;
}

.main #rb-wrapper img {
  width: 80%;
  height: auto;
  margin-bottom: 8px;
}

.main #now-bird-stage1, .main #now-bird-stage2, .main #now-bird-stage3, .main #now-bird-stage4 {
  color: #fff;
  padding-bottom: 6px;
  padding-left: 10px;
  font-family: angry-birds, Inter, Helvetica Neue, Helvetica, Segoe UI, sans-serif;
}

.main #transparent {
  background: none;
  border: none;
  width: 800px;
  height: 580px;
  position: absolute;
  top: 3vh;
  right: 1vw;
}

/*# sourceMappingURL=index.81d0751f.css.map */
